.category {
  padding: 60px 40px;
  text-align: center;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  margin-top: 40px;
  gap: 30px;
}

.category-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s;
  cursor: pointer;
}

.category-card:hover {
  transform: translateY(-5px);
}

.category-card img {
  width: 80px;
  height: 80px;
}

.category-card p {
  margin-top: 12px;
  font-weight: 600;
}
